<!-- <div *ngFor = "let user of users">
    <h2>{{user.pseudonyme}}</h2>
    <img [src] = "user.photos" alt = "{{user.pseudonyme}}">
    <p><strong>Nom :</strong> {{user.nom}}</p>
        <p><strong>Prénom :</strong> {{user.prenom}}</p>
        <p><strong>Date de naissance :</strong> {{user.dateNaissance}}</p>
        <p><strong>Email:</strong>{{ user.email}}</p>
        <p><strong>Genre:</strong> {{user.genres}}</p>
        <p><strong>Présentation:</strong> {{user.presentation}}</p>
        <p><strong>Préférences</strong>{{user.preferences}}</p>
</div> -->