<nav>
  <ul>
    <li><a routerLink="/home">Accueil</a></li>
    </ul>
    </nav>
    <div *ngIf="isHomePage">
      <ul>
        <li><a routerLink="/about">À propos</a></li>
        <li><a routerLink="/signup">Inscription</a></li>
        <li><a routerLink="/login">Connexion</a></li>
        <li><a routerLink="/forgot-password">Mot de Passe oublié</a></li>
        <li><a routerLink="/logout">Déconnexion</a></li>
      </ul>
    </div>
    <nav>
    <ul>
        <li><a href="/publications" target="_blank">Publications</a></li>
    <li><a href="/information" target="_blank">Information</a></li>
    <li><a routerLink="/personnes">Utilisateurs</a></li>
    <li><a href="/evénements" target="_blank">Événements</a></li>
    <li><a (click)="openGallery()">Photos</a></li>
    <li><a href="/discussion-privee" target="_blank">Discussion privée</a></li>
    <li><a routerLink="/messenger">Messenger</a></li>
  </ul>
</nav>

<main>
  <section>
    <h2>Rejoignez la communauté des Jeux Olympiques 2024!</h2>
    <p>
      Connectez-vous avec des fans du monde entier, partagez vos expériences et
      célébrez ensemble l'esprit olympique.
    </p>
  </section>
  <aside>
    <h3>Actualités</h3>
    <p>
      Restez informé des dernières nouvelles et mises à jour des Jeux Olympiques
      2024 à Paris
    </p>
  </aside>
</main>
<footer>
  <p>
    &copy; 2024 Réseau Social des Jeux Olympiques 2024. Tous droits réservés
  </p>
</footer>



