
  <nav>
    <ul>
      <li><a routerLink="/home">Accueil</a></li>
      <li><a routerLink="/publications">Publications</a></li>
      <li><a routerLink="/information">Information</a></li>
      <li><a routerLink="/membres">Membres</a></li>
      <li><a routerLink="/evénements">Événements</a></li>
      <li><a (click)="openGallery()">Photos</a></li>
      <li><a routerLink="/discussion-privee">Discussion privée</a></li>
      
    </ul>
  </nav>

<main>
  <section>
    <h2>Rejoignez la communauté des Jeux Olympiques 2024!</h2>
    <p>
      Connectez-vous avec des fans du monde entier, partagez vos expériences et
      célébrez ensemble l'esprit olympique.
    </p>
  </section>
  <aside>
    <h3>Actualités</h3>
    <p>
      Restez informé des dernières nouvelles et mises à jour des Jeux Olympiques
      2024 à Paris
    </p>
  </aside>
 
</main>
<footer>
  <p>
    &copy; 2024 Réseau Social des Jeux Olympiques 2024. Tous droits réservés
  </p>
</footer>
