:host {
    display: block;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

.form-container {

    max-width: 500px;
    margin: auto;
}

input[type="email"] {

    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
}

button [type="submit"] {
    width: 100;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px 0;
}

button [type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 767px) {
    .form-container{
        padding: 10px;
    
}

    input[type="email"], button [type="submit"]{
        padding: 8px;
    }


}